/* Чим ми займаємось */
.section-whatwedo {
  padding-bottom: 94px;
}

.whatwedo__list {
  display: flex;
}

.whatwedo__item {
  margin: 0;
  width: 370px;
  height: 294px;
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.whatwedo__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  min-width: 366px;
}

.whatwedo__text {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  position: absolute;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
