:root {
  --primary-text-color: #757575;
  --white-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --backgr-dark-color: #2f303a;
  --backgr-gray-color: #f5f4fa;
}

$font-family: 'Roboto', sans-serif;
